
{% extends "base.html" %}

{% block navbar %}
{{ super() }}
{% endblock %}
{% block content %}
  <h1>Meet the Cats of House Robinson!</h1>
<div class="row justify-content-center">
    <div class="col-4">
      <img class="img-fluid" width="300" src="/static/img/Maggie.jpg">

    </div>
    <div class="col-4">
<img class="img-fluid" width="300" src="https://scontent.fads1-1.fna.fbcdn.net/v/t1.0-9/16387202_10208052824347954_7211220299439355430_n.jpg?_nc_cat=0&oh=3cbaf317053c91a639536a87b8cd69e0&oe=5B4A249B">    </div>
  </div>
<div class="row justify-content-center"><div class="col-4"><p class="label">Maggie</p></div><div class="col-4"><p class="label">Iggy</p></div></div>



{% endblock %}